/* small device responsive start */
/* navbar start */
@media screen and (max-width: 576px) {
  .content-width {
    width: 90%;
  }
  .navbar {
    justify-content: space-between;
  }
  .menu {
    display: block;
    color: #fff;
  }
  .menu i {
    font-size: 1.563rem;
  }
  .nav-links {
    display: none;
  }
  /* navbar end */

  /* banner start */
  .banner {
    padding-top: 36px;
  }
  .banner-container {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-content h1 {
    font-size: 1.598rem;
  }
  .banner-content p {
    font-size: 0.71rem;
  }
  .banner-img {
    width: 100%;
    position: relative;
  }
  .banner-image img {
  }
  .video-tutorial {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px 12px;
    width: 110;
    height: 51px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 260%;
    right: 50%;
  }
  .circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #e6533c;
  }
  .video-tutorial h5 {
    color: var(--Text-1, #fafaf9);
    font-size: 1rem;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
  .video-tutorial p {
    color: var(--Text-2, rgba(239, 237, 232, 0.65));
    font-size: 0.688rem;
    font-weight: 400;
    line-height: 1.063rem;
    letter-spacing: 0.031rem;
    width: 5.313rem;
  }
  .workout-videos {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 14px 16px;
    width: 146px;
    height: 68px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 90%;
    left: 55%;
  }
  .workout-videos h5 {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 1px;
  }
  .workout-videos {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 14px 16px;
    width: 146px;
    height: 68px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 160%;
    left: 53%;
  }
  /* banner end */

  /* habits section start */
  .habits {
    margin-top: 30px;
    min-height: 400px;
  }
  .habits-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .habits-content h2 {
    font-size: 1.425rem;
  }
  .habits-content p {
    width: 100%;
  }
  .habits-image {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    gap: 20px;
  }
  .habits-item .image {
    width: 50%;
    margin: 0 auto;
  }
  .habits-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .habits-item {
    width: 100%;
  }
  .habits-item h3 {
    color: #fff;
    font-size: 0.799rem;
    font-weight: 600;
    line-height: 100%;
    margin-top: 21px;
    text-align: center;
  }
  .habits-item p {
    font-size: 0.621rem;
    line-height: 12px;
    width: 164px;
    margin: 0 auto;
    margin-top: 10px;
  }
  */
  /* habits section end */

  /* run section start */
  .run {
    margin-top: 46px;
  }
  .run-container {
    width: 90%;
    border-radius: 18px;
    background: #222;
    padding: 21px 22px 20px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
  }
  .run-content {
    width: 100%;
  }
  .run-content h2 {
    color: #fff;
    font-size: 1.375rem;
    font-weight: 900;
    line-height: 100%;
    width: 100%;
  }
  .run-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.563rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.3px;
    margin-top: 9px;
    width: 100%;
  }
  .run-content button {
    width: 100%;
  }
  .run-image {
    width: 100%;
  }
  .run-image img {
    border-radius: 12px;
  }
  /* run section end */

  /* bmi section start */
  .bmi {
    margin-top: 14px;
  }
  .bmi-container {
    width: 90%;
    margin: 0 auto;
  }
  .bmi-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .bmi-content h2 {
    color: #fff;
    font-size: 1.375rem;
    font-weight: 900;
    line-height: 100%;
    width: 100%;
  }
  .bmi-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.621rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.3px;
    width: 100%;
    margin-top: 9px;
  }
  .bmi-calculate {
    margin-top: 22px;
  }
  .bmi-calculate-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    padding: 35px 0;
  }
  .calculate-chat {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  .calculate-bmi {
    width: 100%;
  }
  /* bmi section end */

  /* team section start */
  .team-container {
    margin: 0 auto;
  }
  .team-content {
    width: 100%;
    margin-top: 48px;
  }
  .team-content h2 {
    color: #fff;
    font-size: 1.375rem;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
  }
  .team-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.563rem;
    font-weight: 400;
    line-height: 100%;
    width: 100%;
  }
  .team-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
    margin-top: 41px;
    padding: 14px;
  }
  /* team section end  */

  /* uniq section start */
  .uniq-container {
    width: 90%;
    margin: 0 auto;
  }
  .uniq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 3px solid orange;
  }
  /* uniq section end */

  /* footer-section start */
  .footer {
    margin-top: 46px;
  }
  .footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    padding: 31px 0;
  }
  .footer-content-one {
    width: 100%;
  }
  .footer-content-two {
    width: 100%;
  }

  /* footer section end */
}

/* small device responsive end */

/* medium device responsive start */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
}

/* medium device responsive end */

/* large device responsive start */
@media screen and (min-width: 992px) {
}
/* large device responsive end */
