/* google font start */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* miama */
@import url("https://fonts.cdnfonts.com/css/miama");
/* google font end */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  font-family: "Inter", sans-serif;
}
/* shared style start */
.full-width {
  max-width: 1440px;
  margin: 0 auto;
}
.content-width {
  width: 71%;
  margin: 0 auto;
}
.btn {
  display: flex;
  width: 159px;
  padding: 11px 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 29px;
  background: #e6533c;
  color: #fff;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: none;
  cursor: pointer;
}
/* shared style end */

/* header section start */
.navbar {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.navbar h2 {
  width: 50%;
  color: #e6533c;
  font-size: 1.598rem;
  font-style: italic;
  font-weight: 800;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  list-style: none;
}
.nav-item {
  color: #fff;
  font-size: 0.799rem;
  font-weight: 400;
  text-decoration: none;
}
.active {
  padding: 8px 20px;
  border-radius: 32px;
  background: #e6533c;
}
.menu {
  display: none;
}
/* header section end */

/* banner section start */
.banner {
  background-color: #000;
  padding-top: 22px;
}
.banner-container {
  display: flex;
  align-items: center;
  gap: 118px;
}
.banner-content {
  width: 50%;
}
.banner-content h1 {
  color: #fff;
  font-size: 3.461rem;
  font-weight: 900;
  line-height: 100%;
}
.shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
}
.banner-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.71rem;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
  margin-top: 19px;
}
.two-btn {
  display: flex;
  gap: 9px;
  margin-top: 19px;
}
.btn-two {
  width: 159px;
  padding: 11px 28px;
  gap: 9px;
  border-radius: 29px;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.799rem;
  font-weight: 600;
  line-height: 15px;
  cursor: pointer;
}
.banner-img {
  width: 50%;
  position: relative;
}
.banner-image img {
  width: 100%;
  height: 100%;
}
.video-tutorial {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 14px 16px;
  width: 146px;
  height: 68px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 98%;
  right: 30%;
}
.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e6533c;
}
.video-tutorial h5 {
  color: var(--Text-1, #fafaf9);
  font-size: 1rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.video-tutorial p {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));
  font-size: 0.688rem;
  font-weight: 400;
  line-height: 1.063rem;
  letter-spacing: 0.031rem;
  width: 5.313rem;
}
.workout-videos {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 14px 16px;
  width: 146px;
  height: 68px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 70%;
  left: 78%;
}
.workout-videos h5 {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 1px;
}
.workout-videos p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.577rem;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1px;
  margin-top: 3.55px;
}
/* banner section end */

/* habits section start */
.habits {
  background-color: #000;
  margin-top: 71px;
  min-height: 400px;
}
.habits-container {
  background-color: #000;
}
.habits-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.habits-content h2 {
  color: #fff;
  font-size: 2.13rem;
  font-weight: 900;
  line-height: 100%;
}
.habits-content p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.621rem;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.3px;
  width: 476px;
  margin-top: 9px;
}
.habits-image {
  display: flex;
  justify-content: center;
  margin-top: 41px;
  gap: 20px;
}
.habits-item {
}
.habits-item .image {
}
.habits-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.habits-item h3 {
  color: #fff;
  font-size: 0.799rem;
  font-weight: 600;
  line-height: 100%;
  margin-top: 21px;
  text-align: center;
}
.habits-item p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.621rem;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.3px;
  width: 164px;
  margin-top: 4px;
}
/* habits section end */

/* run section start */
.run {
  margin-top: 71px;
}
.run-container {
  border-radius: 18px;
  background: #222;
  padding: 21px 22px 20px 38px;
  display: flex;
  justify-content: space-between;
  gap: 117px;
}
.run-content {
  width: 50%;
}
.run-content h2 {
  color: #fff;
  font-size: 2.125rem;
  font-weight: 900;
  line-height: 100%;
  width: 314px;
}
.run-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.563rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  margin-top: 9px;
}
.run-content button {
  margin-top: 24px;
}
.run-image {
  width: 50%;
}
.run-image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
/* run section end */

/* bmi section start */
.bmi {
  margin-top: 62px;
}
.bmi-container {
}
.bmi-content {
  width: 476px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.bmi-content h2 {
  color: #fff;
  font-size: 2.125rem;
  font-weight: 900;
  line-height: 100%;
  width: 476px;
}
.bmi-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.621rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  width: 476px;
}
.bmi-calculate {
  margin-top: 62px;
  background-color: #222;
}
.bmi-calculate-content {
  display: flex;
  gap: 31px;
  padding: 35px 0;
}
.calculate-chat {
  width: 50%;
}
.calculate-chat h3 {
  color: #fff;
  font-size: 1.243rem;
  font-weight: 900;
  line-height: 100%;
}
.table {
  border-collapse: collapse;
  margin-top: 35px;
}
.table td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.621rem;
  font-weight: 400;
  line-height: 100%;
  padding: 10px 10px;
  border: 1px solid #ffffff1a;
}
.table th {
  color: #fff;
  font-size: 0.71rem;
  font-weight: 500;
  line-height: 100%;
  padding: 5px 10px;
  border: 1px solid #ffffff1a;
}
.calculate-bmi {
  width: 50%;
}
.form {
  margin-top: 24px;
}
.calculate-bmi h2 {
  color: #fff;
  font-size: 1.243rem;
  font-weight: 900;
  line-height: 100%;
  width: 314px;
}
.calculate-bmi p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.621rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  margin-top: 9px;
}
.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.form-field-one {
  width: 100%;
}
.form-field-one input {
  width: 100%;
  height: 34px;
  padding: 8px 14px;
  background-color: #ffffff1a;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff99;
}
select .option {
  background-color: #222;
}
.form-field-select input,
select {
  width: 100%;
  height: 34px;
  padding: 8px 14px;
  background-color: #ffffff1a;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff99;
}
.form-field-select {
  margin-top: 8px;
}
button {
  margin-top: 24px;
}
/* bmi section end */

/* team section start */
.team {
  margin-top: 62px;
}
.team-container {
  border-radius: 12px;
}
.team-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-content h2 {
  color: #fff;
  font-size: 2.125rem;
  font-weight: 900;
  line-height: 100%;
}
.team-content p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  width: 476px;
  margin-top: 9px;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  margin-top: 41px;
  padding: 14px;
  border-radius: 12px;
}
.img-one {
  border-radius: 12px;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
.img-one img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.image-text {
  position: absolute;
  bottom: 10%;
  padding-left: 13px;
}
.image-text h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 100%;
}
.image-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 9px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 2px;
}
/* team section end */

/* uniq section start */
.uniq {
  margin-top: 56px;
}
.uniq-container {
}
.uniq-content {
  display: flex;
  gap: 20px;
}
.uniq-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffff;
  padding: 20px 0;
  border-radius: 10px;
}
.uniq-item .icon {
  color: #fff;
  font-size: 30px;
}
.uniq-item h4 {
  font-size: 25px;
  color: #fff;
  margin-top: 10px;
}
.uniq-item p {
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
}
/* uniq section end */

/* footer section start */
.footer {
  margin-top: 62px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 45px 0;
}
.footer-content-one {
  width: 33%;
}
.footer-content-one h2 {
  color: #e6533c;
  font-size: 1.563rem;
  font-style: italic;
  font-weight: 800;
}
.footer-content-one p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.621rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  margin-top: 14px;
}
.footer-content-two {
  width: 33%;
}
.footer-content-two h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
}
.footer-content-two p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 22px;
  margin-top: 14px;
}
.horizental {
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.1);
}
.right {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.3px;
  padding: 34px 0;
  text-align: center;
}
/* footer section end */
